:root {
  --color-1: #FF4D20;
  --color-1-hover: #FF4D20;
  --color-2: #FF4D20;
  --color-2-hover: #FF4D20;
  --text-color: #FF4D20;
  --status-btn-bg: #f8fafc;
  --status-btn-bg-hover: #f1f5f9;
}

body {
  margin: 0;
  font-family: muli, sans-serif;
}

header{
  padding: 20px 20px 15px;
  border-bottom: 1px solid #f0f0f0;
}

.left-header img{
  max-width: 100px;
}

.right-header a{
  float: right;
  top: 20px;
  text-decoration: none;
  color: black;
  position: absolute;
  right: 20px;
}

.flow-studio-container {
  margin: 3rem auto;
  background: white;
  border-radius: 1rem;
  padding: 3rem;
}

.form-input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: .5rem;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .1);
  padding: 1rem;
  box-sizing: border-box;
  color: var(--text-color);
  transition: ease-in-out .3s all;
}

.form-input::placeholder {
  color: #cbd5e1;
}

.form-input:focus {
  outline: none;
  border-color: var(--color-1);
}

.btn:focus-within,
.form-input:focus-within {
  box-shadow: #f8fafc 0px 0px 0px 2px, #c7d2fe 0px 0px 0px 6px, #0000 0px 1px 2px 0px;
}

textarea.form-input {
  min-height: 150px;
}

.btn {
  border: 0;
  background: var(--color-1);
  padding: 0.5rem 0.7rem;
  border-radius: 5px; 
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
}

.btn[disabled] {
  
  pointer-events: none;
}

.btn:hover {
  background: var(--color-1-hover);
  transition: ease-in-out .3s all;
}

.btn-submit {
  background-color: var(--color-2);
}

.btn-submit:hover {
  background-color: var(--color-2-hover);
}

.pagination {
  margin-top: 1rem;
  display: flex;
  align-items: end;
  justify-content: end;
}

.pagination .btn {
  width: 100px;
  text-align: center;
  margin: 0 6px;
}

.flow-studio-tabs  {
  display: flex;
  align-items: center;
}

.flow-studio-tabs  span {
  appearance: none;
  background: var(--status-btn-bg);
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flow-studio-tabs  span.active {
  background-color: var(--color-2);
  color: white;
}

.hidden {
  display: none;
}